/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  width: 100%;
  height: 100%;
  min-width:1200px;
  min-height: 600px;
  overflow: auto;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 25rem;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #EAEFF3;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 25em;
  border-left: black solid 2px;
  min-height: 600px;
}

main{
  display: none;
  flex: 1 1 auto;
  background-image: url(https://wowsp-wows-eu.wgcdn.co/dcont/fb/image/ec7b31f0-1849-11ea-9e05-38eaa735f4cc.jpg);
  background-size: cover;
  background-position: center center;
}

main div{
  height: 100%;
  width: 100%;
}

main > div{
  padding-left: 25em;
  padding-top: 10em;
}

.localchat{
  position: absolute;
  overflow: auto;
  padding: 0 1rem;
  left: 0;
  bottom: 4rem;
  border: black solid 2px;
  height: 20rem;
  background-color: #EAEFF3;
  width: 20rem;
}
.inputMessage {
  font-size: 100%;
}

.hra{
  display: none;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 4rem;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.local{
  width: 20rem;
}

.centr{
	margin:auto;
	display:table
}

.promo-new-btn:hover {
  text-decoration: none;
  cursor: pointer;
  background-size: 100% 400%;
}
.promo-new-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: RobotoCondensed;
  padding: 12px 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#de2414),to(#fc611d));
  background-image: linear-gradient(0deg,#de2414 0,#fc611d);
  background-size: 100% 100%;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  outline: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
  border: 0;
}
/*tabulka věci*/
.hra table{
  border-collapse: collapse;
  background-color: #EAEFF3;
}
.hra table tr td{
  height: 1em;
  width: 1em;
  border: 0.01em solid black;
  padding: 0;

}
.hracipole{
  font-size: 300%;
}
img{
  user-select: none;
  pointer-events: none;
}
#lode{
  pointer-events: all;
}
h2 {
  font-size: 1.2em;
}
#leavediv{
  text-align: center;
  height: auto;
  color: white;
  font-size: 0.5em;
}
p.alert:hover{
  opacity: 1 !important;
}
ul#members li{
  display:none;
  margin-top: 0.5rem;
}
ul#members li::before {
  content: "+";
  color: #000000;
  font-weight: bold;
  margin-left: -2em;
  margin-right: 1rem;
  background-color: #00ff03;
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  border: 1px black solid;
}
ul#invites li::before {
  content: "✓";
  color: #000000;
  font-weight: bold;
  margin-left: -2em;
  margin-right: 1rem;
  background-color: #00ff03;
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  border: 1px black solid;
}
li:hover {
  background-color: #c8dae8;
}